/* -------------------------------- */

/* @import url("https://fonts.googleapis.com/css?family=Fira+Sans"); */

html,
body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 

.form_structor {
	border: rgb(235, 230, 230) solid 2px;
	background-color: #222;
	border-radius: 20px;
	height: 650px;
	width: 450px;
	position: relative;
	overflow: hidden;
}

.form_structor::after {
	content: '';
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 600px;
	background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100');
}

.form_structor .signup {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 65%;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
}

.form_structor .signup.slide_up {
	top: 5%;
	-webkit-transform: translate(-50%, 0%);
	-webkit-transition: all 0.3s ease;
}

.form_structor .signup.slide_up .form_holder,
.form_structor .signup.slide_up .submit_btn {
	opacity: 0;
	visibility: hidden;
}

.form_structor .signup.slide_up .form_title {
	font-size: 1em;
	cursor: pointer;
}

.form_structor .signup.slide_up .form_title span {
	margin-right: 5px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}

.form_structor .signup .form_title {
	color: #fff;
	font-size: 1.7em;
	text-align: center;
}

.form_structor .signup .form_title span {
	color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
}

.form_structor .signup .form_holder {
	border-radius: 15px;
	background-color: #fff;
	overflow: hidden;
	margin-top: 50px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}

.form_structor .signup .form_holder .input {
	border: 0;
	outline: none;
	box-shadow: none;
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 8px 15px;
	border-bottom: 1px solid #eee;
	width: 100%;
	font-size: 12px;
}

.checkValid {
	text-align: left;
	border: 0;
	outline: none;
	box-shadow: none;
	display: none;
	height: 30px;
	line-height: 30px;
	margin-top: -5px;
	padding: 0 15px;
	border-bottom: 1px solid #eee;
	width: 100%;
	font-size: 10px;
	color: red;
	font-style: italic;
}

.form_structor .signup .form_holder .input:last-child {
	border-bottom: 0;
}

.form_structor .signup .form_holder .input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.form_structor .signup .submit_btn {
	background-color: rgba(0, 0, 0, 0.4);
	color: rgba(256, 256, 256, 0.7);
	border: 0;
	border-radius: 15px;
	display: block;
	margin: 15px auto;
	padding: 12px 45px;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}

.form_structor .signup .submit_btn:hover {
	transition: all 0.3s ease;
	background-color: rgba(0, 0, 0, 0.8);
}

.form_structor .login {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login::before {
	content: '';
	position: absolute;
	left: 50%;
	top: -20px;
	-webkit-transform: translate(-50%, 0);
	background-color: #fff;
	width: 200%;
	height: 250px;
	border-radius: 50%;
	z-index: 4;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login .center {
	position: absolute;
	top: calc(50% - 10%);
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 65%;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login .center .form_title {
	color: #000;
	font-size: 1.7em;
	text-align: center;
}

.form_structor .login .center .remember_checkbox {
	display: block;
	position: relative;
	padding-left: 3px;
	margin-top: 5px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;
}

.form_structor .login .center .remember_checkbox .remember_checkmark {
	margin-left: 3px;
	vertical-align: text-bottom;
}

.form_structor .login .center .form_title span {
	color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login .center .form_holder {
	border-radius: 15px;
	background-color: #fff;
	border: 1px solid #eee;
	overflow: hidden;
	margin-top: 50px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login .center .form_holder .input {
	border: 0;
	outline: none;
	box-shadow: none;
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 8px 15px;
	border-bottom: 1px solid #eee;
	width: 100%;
	font-size: 12px;
}

.form_structor .login .center .form_holder .input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.form_structor .login .center .submit_btn {
	background-color: #6b92a4;
	color: rgba(256, 256, 256, 0.7);
	border: 0;
	border-radius: 15px;
	display: block;
	margin: 13px auto;
	padding: 12px 45px;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login .center .submit_btn:hover {
	transition: all 0.3s ease;
	background-color: rgba(0, 0, 0, 0.8);
}

.form_structor .login.slide_up {
	top: 90%;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login.slide_up .center {
	top: 10%;
	-webkit-transform: translate(-50%, 0%);
	-webkit-transition: all 0.3s ease;
}

.form_structor .login.slide_up .form_holder,
.form_structor .login.slide_up .submit_btn {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login.slide_up .form_title {
	font-size: 1em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
}

.form_structor .login.slide_up .form_title span {
	margin-right: 5px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease;
}